<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	processIsolation="false"
	>
	<testsuites>
		<testsuite name="Sade">
			<directory suffix=".php">./tests/</directory>
			<exclude>./tests/testdata</exclude>
		</testsuite>
	</testsuites>
</phpunit>